input[type="text"] {
  margin: 10px 0px;
  height: 60px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  color: #1e1e1e;
  font: 400 1rem "proxima-nova", sans-serif;
  width: 80%;
  border: 1px solid #dee0e0;
  padding: 0 20px;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus {
  border: 1px solid #AF9570;
  outline: none !important;
}

input[type="submit"] {
  background-color: #323232;
  color: white;
  font: 700 1rem "proxima-nova",sans-serif;
  border: none;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  padding: 20px 80px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  -moz-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  margin-top: 20px;
}

input[type="submit"]:hover {
  -webkit-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  -moz-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  background-color: #1e1e1e;
}

.chat-container {
position: relative;
height: 100%;
}

.messages {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height:calc( 100% - 60px );
  padding: 20px;

}
.message::after{
  display: block;
  content:" ";
  clear:both;
  float: none;
}

.chat-input {
  position: absolute;
  overflow: hidden;
  padding: 0 40px;
  bottom: 0;
  left:0;
  width:100%;
}

.chat-input input[type="text"] {
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
}


.message.from-me {
  text-align: right;
  margin-bottom: 5px;
}
.message.from-me > div {

  display: inline-block;

}

.message.from-me .message-body {
  float: right;
  clear: both;
  background-color: #0084ff;
  color: white;
  
}
.message.from-me .username {
  float: right;
  clear: both;
  display: block;
}

.message {
  margin-bottom: 20px;
  
  
}
.message-body {
  max-width: 80%;
  display: inline-block;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px;
  border-radius: 3px;
  min-width:0;
  margin:0 0 5px;
}
.message-date {
font-size: 12px;
color: #999;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 5px;
}
#chatBox{
  height: calc(100%-60px);
}
#chatBox > .container{
  height: 100%;
}
.message{
  display: block;
  /* background: #0084ff22; */
}
.username{
  display: block;
}