html,
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

header {
  padding: 10px;
  background: inherit; /* lawngreen; for debug */
}

header .location {
  font-weight: bold;
}

header a.location {
  color: black;
}

main {
  padding: 10px;
  padding-top: 0px;
}

.search {
  display: inline;
}
