@import 'https://fonts.googleapis.com/css?family=Open+Sans:300, 400';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.post {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  width: 350px;
  height: 350px;
  flex: 0 0 350px;
}

.post .description {
  flex: 1;
  padding-left: 25px;
  font-size: 25px;
}

.detail {
  width: 600px;
  height: 600px;
  flex: 0 0 600px;
}

.detail .description {
  flex: 1;
  padding-left: 40px;
  font-size: 38px;
}

.title {
  font-size: 42px;
}

.content {
  font-size: 18px;
}

.new-post {
  background-color: rgba(0, 0, 0, 0.04);
}

.close {
  opacity: 0.5;
  margin-top: 60px;
  margin-right: 60px;
}

.close img {
  width: 20px;
  height: 20px;
}
.left-nav{
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  position: fixed;
  left:0;
  top:0;
  background:rgba(24, 23, 41, 0.952);
  height: 100%;
  margin:0;
  width:50px;
}
.left-bar{
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  position: fixed;
  left:50px;
  top:0;
  background:rgba(34, 33, 48, 0.952);
  background:rgba(31, 30, 62, 0.952);
  background:#21313F;
  height: 100%;
  margin:0;
  width:calc(100% - 50px);
  max-width:400px;
  min-width:300px;
}
.chat-container{
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 100%;
  margin:0;
  width:100%;
}
/* .main-container{
  box-sizing: border-box;
  overflow: auto;
  display: block;
  position: fixed;
  left:450px;
  top:0;
  background:rgba(179, 179, 179, 0.952);
  height: 100%;
  margin:0;
  width:calc( 100% - 450px );
  min-width:300px;
} */
.nav-button{
  box-sizing: border-box;ox
  display: block;
  margin:5px auto;
  /* border:1px solid rgba(223, 223, 223, 0.192); */
  width:48px;
  height: 48px;
  cursor:pointer;
  position: relative;
}
.nav-button:hover{
  background: rgb(24, 27, 41);
  position: relative;
}
nav svg{
  fill:#ffffff6c;
  position: relative;
}
nav .indic{
  display: block;
  content:"3";
  position: absolute;
  width:16px;
  height: 16px;
  right:0;
  bottom:0;
  padding:4px;
  background: #ffe70bd5;
  border-radius: 999em;
  box-sizing: border-box;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.04);
  z-index: 99;
  font-size:10px;
  text-align: center;
}
nav .indic.y{
  background: #ffe70bd5;
}
nav .indic.g{
  background: #64df00d5;
}
.chat-container h3{
  background: #1b2736d5;
  border:none;
  color:#999;
}

.card{
  position: relative;
  display: inline-block;
  width:300px;
  border:1px solid #08415cc9;
  background:#08415cc9;
  border-radius: 6px;
  padding:10px;
  min-height: 220px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
}
.card:hover{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}
.card-name{
  color:#c2c2c2 !important;
}
.card-id{
  color:#fafafa !important;
}
.card .semafor{
  text-decoration: none;
  position: absolute;
  margin:0 auto;
  top:auto;
  left:auto;
  right:auto;
  bottom:0;
  text-align: center;
  color:#333;
}
.card .semafor > span{
  box-sizing: border-box;
  width:20px;
  width:40px;
  height:20px;
  display: inline-block;
  border-radius: 999em;
  border-radius: 5px;
  font-size:12px;
  padding:5px;
  margin:5px;
}
.card .semafor > span.y{background: #ffe923d5;}
.card .semafor > span.g{background: #7bff23d5;}
.card .semafor > span.r{background: #ff3d23d5;}

.column{
  width:300px;
  min-width:300px;
  height:auto;
  min-height: 200px;
  box-sizing: border-box;
  margin:10px 10px;
  padding:10px;
  border-radius:6px;
  display: inline-block;
  text-align: center;
  position: relative;
  background: #2a265e9d;
  color: #fafafa;
  /* cursor:all-scroll ; */
  max-height: 100%;
  overflow: auto;
  /* clear: right;
  float: left; */
  display: inline-flex;
  flex-direction: column;
}
.column.create{
  height:90px;
  min-height:90px;
  background: #96b4b0;
}
.card.create{
  height:90px;
  min-height:90px;
  background: #96b4b0;
}

.task{
  cursor: pointer;
  display:block;
  width:100%;
  overflow: hidden;
  height:auto;
  min-height:60px;
  padding:5px 5px;
  box-sizing: border-box;
  background: #fafafa;
  border-radius: 5px;
  margin:5px auto;
  color:#333;
}
.task.create{
  height:auto;
  min-height:;
  background: #96b4b0;
}
.small{
  font-size: 10px;
}
.flex-container{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width:auto;
  height:100%;
  max-width:1024px;
}
.card{
  display: inline-block;

}
html,body{
  box-sizing: border-box;
  width:100%;
  height:100%;
  position:relative;
}
#root{
  position: absolute;
  box-sizing: border-box;
  width:100%;
  height:100%;
  overflow: hidden;
}
.main-container{
  display:block;
  margin:0;
  padding:5px;
  box-sizing: border-box;
  width:auto;
  max-width:100%;
  height:100%;
  min-height: 100%;
  overflow: auto;
  min-width: 300px;
  background:rgba(43, 43, 43, 0.952);
  background:#1B2126;
  margin-left:450px;
  
}
.lists{
  align-items: flex-start;
  user-select: none;
  display: inline-flex;
  height: 100%;
}
.list-wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
}
input,button, textarea{
  margin:5px auto;
  padding:5px;
}
input[type="text"], input{
  display: block;
  width: 100%;
  max-width:300px;
  height:auto;
  padding:8px;
  margin:10px auto 5px;
}
.button,button{
  background: #d6e1f8a4;
  border:0px solid #f9f9f9;
  border-radius: 3px;
  color:#333;
  padding:8px 20px;
  cursor: pointer;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
}
.button:hover, button:hover{
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */
}

.column-create,.column > button{
  border:0px none;
  background: transparent;
  color:#08B6CE;
  box-shadow: 0 0 0 transparent;
  text-align: left;
  padding:10px;
  margin:30px 0 5px;
}

.card,.column{
  /* box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4); */
 background: #21313F;
 color:#E3FBFF;
}
.task{
  background: #2C3F51;
  color:#E3FBFF;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.column-create{
/* text-align: center;
border-radius: 5px;
padding: 20px;
  background: rgba(91, 142, 155, 0.877);*/
  width:300px;
  height:auto; 
}

.auth{
  display: block;
  text-align: center;
  padding:50px;
  border:1px solid #1B2126;
  background: #21313F;
  min-width:300px;
  max-width: 500px;
  margin:5% auto 0;
  border-radius: 5px;
  box-sizing: border-box;
}
.auth button{
  display: block;
  margin:30px auto 5px;
  width:300px;

}
#root{
  background: #1B2126;
}
.button{
  max-width: 300px;
  margin:10px auto;
}
.profile-image{
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 999em;
  width:140px;
  height:140px;
  margin:20px auto 40px;
  text-align: center;
  border:2px solid rgb(11, 28, 43);
}
.profile-image img{
  display: block;
width:auto;
max-width:300% !important;
height:100%;
}
.card{
  border-radius: 0px;
  margin:1px;
}
.colHeader{
  background: rgba(22, 34, 44, 0.404);
  padding:10px;
}
.taskHeader{
  background: rgba(22, 34, 44, 0.137);
  padding:10px;
}
