.stimul-info {
  display: flex;
  height: 100%;
  min-height: 100%;
}

.auth{
  margin: auto;
  padding: 20px;
  border-radius: 6px;
  width:300px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content:center;
  justify-items: center;
  height: auto;
}

