main.map {
  text-align: left;
  background: inherit; /* deepskyblue; for debug */
  flex: 1 0px;
  display: flex;
  flex-flow: row nowrap;
}

.map #container {
  flex: 1;
}

.map #map-container {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.map #statistics {
  flex: 0.5;
}

.map #map {
  width: 400px;
  height: 450px;
  position: absolute;
}

.map form.new-site-popup {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
}

.leaflet-popup-content a {
  text-decoration: underline;
  cursor: pointer;
}
