main.site {
  text-align: left;
  background: inherit; /* deepskyblue; for debug */
  flex: 1 0px;
  display: flex;
  flex-flow: row nowrap;
}

main.site .sitePane {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

main.site #container {
  flex: 1;
}

main.site #map {
  width: 200px;
  height: 450px;
  position: absolute;
}

main.site .site {
  flex: 3;
  display: flex;
  flex-flow: column nowrap;
}

main.site .objectsPane {
  flex: 1;
}
